[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pillow = "*"
wquantiles = "*"
cython = "*"
pandas = "*"

[dev-packages]
pytest = "*"
matplotlib = "*"
pyqt5 = "*"
tornado = "*"

[requires]
python_version = "3.10"
